.sub-nav {
    /* border: 1px solid black; */
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.sub-nav > div {
    /* border:1px solid black; */
    display:flex;
    flex-direction:column;
    align-items:center;
    width:80%;
    padding: 20px 0;
}

.sub-nav > div > div {
    margin-top:5px;
}

.sub-nav div:hover {
    cursor:pointer;
}

.dark-element {
    color:#F5F5F5;
    fill:#F5F5F5;
}

.dark-element:hover, .light-element:hover {
    color:#1E90FF;
}

.light-element {
    color:black;
    fill:black;
}